.formLabels {
    margin-right: 10px;
}


.formColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formRow {
    display: flex;
    padding: 5px;
}

.formItem {
    width: 100%;
    padding: 5px;
}

.inputBox {
    margin-right: 10px;
}
.selectbox {
    width: 200px;
}
