.formLabels {
    margin-right: 10px;
}


.formColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formRow {
    display: flex;
    padding: 5px;
}

.formItem {
    width: 100%;
    padding: 5px;
}

.inputBox {
    margin-right: 10px;
}

.tocInputBox {
    width: 300px;
    height: 30px;
    font-size: 22px;
}
