#banner {
    color: hsla(34, 83%, 99%, 1);
    font-weight: 500;
    font-size: 80px;
    padding: 80px 20px;
    line-height: 1;
    text-align: center;
    background: radial-gradient(ellipse, #566D7E 50%, #646D7E 100%);
}
.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc {
    box-shadow: none;
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc {
    box-shadow: none;
}
.ReactTable .rt-thead .rt-th.-sort-desc::before {
    content: "▼";
    float: right;
}
.ReactTable .rt-thead .rt-th.-sort-asc::before {
    content: "▲";
    float: right;
}
.ReactTable .rt-thead {
    background: radial-gradient(ellipse, #566D7E 50%, #646D7E 100%);
    color: hsla(34, 83%, 99%, 1);
}

.ReactTable .-pagination .-btn {
    color: hsla(34, 83%, 99%, 1);
    background: radial-gradient(ellipse, #566D7E 50%, #646D7E 100%);
}

.ReactTable .-pagination .-previous,
.ReactTable .-pagination .-next {
    background: radial-gradient(ellipse, #566D7E 50%, #646D7E 100%);
    color: hsla(34, 83%, 99%, 1);
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin-left: 10px;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}
.myButton:active {
    position:relative;
    top:1px;
}
.react-tabs__tab-list {
    margin: 0 0 10px;
    padding: 0;
    border-color: radial-gradient(ellipse, #566D7E 50%, #646D7E 100%);
}

.react-tabs__tab--selected {
    background: radial-gradient(ellipse, #566D7E 50%, #646D7E 100%);
    color: hsla(34, 83%, 99%, 1);
    border-radius: 5px 5px 0 0;
}

/*Styling for iPhone 6/7/8*/
@media (min-width: 360px) {
    #banner {
        color: hsla(34, 83%, 99%, 1);
        font-weight: 500;
        font-size: 60px;
        padding: 80px 20px;
        line-height: 1;
        text-align: center;
        background: radial-gradient(ellipse, #566D7E 50%, #646D7E 100%);
    }
    .react-tabs__tab {
          padding: 6px 6px;
    }
    .react-tabs__tab-list {
        margin: 0 0 10px;
        padding: 0;
        border-color: radial-gradient(ellipse, #566D7E 50%, #646D7E 100%);
    }

    .react-tabs__tab--selected {
        background: radial-gradient(ellipse, #566D7E 50%, #646D7E 100%);
        color: hsla(34, 83%, 99%, 1);
        border-radius: 5px 5px 0 0;
    }


}

