#banner {
    color: hsla(34, 83%, 99%, 1);
    font-weight: 500;
    font-size: 80px;
    padding: 80px 20px;
    line-height: 1;
    text-align: center;
    background: radial-gradient(ellipse, #566D7E 50%, #646D7E 100%);
}
